/*Styling the student page*/

body {
  background-color: rgb(218, 224, 242);
 background-image: linear-gradient(to bottom right,lightblue, rgb(105, 127, 237));
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  display: grid;
  place-content: center;
}

.css {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin:0 auto;
  width: fit-content;
}

#AltID {
  margin-bottom: 40px;
}

.intro {
  text-align: center;
}

h3 {
  text-align: center;
}
.html-docs {
text-align: center;
display:flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
width: fit-content;

/*margin-bottom: 40px;
  display: inline-block;
  text-align: center;*/
}

#btn-1 {
  margin-right: 10px; /*Adds space between the row of two buttons*/
}

button {
  border-radius: 20px;
  padding: 12px;
  font-size: medium;
}

button:hover {
  background-color: rgb(58, 69, 81);
  color:rgb(232, 232, 239)
}

.html-docs button {
  width: 150px;
  margin-left: 0%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.css button {
  width: 150px;
  margin-top: 20px;
  margin-left: 0%;
}

#description {
  margin-bottom: 45px;
  text-align: center;
  width:100%; /* Ensures it takes up full width */
  display:block;  /* Ensures proper alignment behavior */
}

p {
  font-size: medium;
}


.snowfall,
.snowfall::before,
.snowfall::after {
  position: absolute;
  inset: 0;
  content: '';
  overflow: hidden;
  pointer-events: none; /* So it doesn't interfere with other elements */

  background-image: radial-gradient(
    circle at 5% 100%, #fff 3px, transparent 6px
    ),
  radial-gradient(
    circle at 65% 28%, #fff 2px, transparent 4px
    );
    radial-gradient(circle at 50% 70%, #fff 3px, transparent 5px),
    radial-gradient(circle at 80% 40%, #fff 2px, transparent 5px),
    radial-gradient(circle at 95% 90%, #fff 3px, transparent 5px);
  background-size: 100% 100%;
  background-repeat: repeat;
  animation: snowfall 15s linear infinite;
  }

@keyframes snowfall {
  from {
    transform: translateY (-100%);
  }
  to {
    transform: translateY(100%);
  }
  }


  .snowfall {
    background-size: 65% 100%;
  }

  .snowfall::before {
    inset: -4em;
    opacity:0.7;
    background-size: 45% 100%;
  }

  .snowfall::after {
    inset:-8em 0 0;
    opacity: 0.8;
    background-size: 32% 100%;
  }


  /*
  .snowfall::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    top: 0;
    left: 50%;
    animation: fall 5s linear infinite;
  }

  /*
  @keyframes fall {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(100vh);
      opacity: 0;
    }
  }
